.notfound-container {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
  background-color: #161625;
  height: 90vh;
  padding: 35px;
}
.not-found-img {
  width: 237px;
}
.notfound-heading {
  font-size: 16px;
  font-weight: 500;
  color: #e2e8f0;
  margin-top: 24px;
}
.notfound-description {
  font-size: 12px;
  color: #94a3b8;
  margin-top: 8px;
  text-align: center;
}
.home-button {
  background: #2563eb;
  border-radius: 12px;
  padding: 12px 24px;
  border: 0px;
  color: #fff;
}
