.state-page {
  background: #161625;
  height: 100%;
  padding: 30px;
}

.name-last-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head-state-name {
  background: rgba(2, 132, 199, 0.16);
  border-radius: 32px;

  align-self: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  /* Light / light-blue / 500 */

  color: #0ea5e9;
}
.state-page-head {
  display: flex;
  justify-content: space-between;
}
.total-container {
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.deceased {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  color: #6c757d;
  padding-left: 30px;
  padding-right: 30px;
}
.recovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: #28a745;
  padding-left: 30px;
  padding-right: 30px;
}
.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: #007bff;
  padding-left: 30px;
  padding-right: 30px;
}
.confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  padding-left: 30px;
  padding-right: 30px;
  /* identical to box height, or 100% */
  color: #ff073a;
}
.confirmed-selected {
  background: #331427;
  border-radius: 12px;
}
.total-img {
  height: 38px;
  width: 38px;
  align-self: center;
}

.tested-head-container {
}
.tested-head-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 400 */

  color: #94a3b8;
}
.tested-head-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  /* Light / blue-gray / 400 */

  color: #94a3b8;
}
.last-date-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 133% */
  margin-top: 0px;

  /* Light / blue-gray / 300 */

  color: #cbd5e1;
}
.top-districts-heading {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  color: #ff073a;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.top-districts-item {
  display: flex;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 15vw;
  padding: 20px;
  align-self: flex-end;
  /* ide2ntical to box height */

  /* Light / blue-gray / 400 */

  color: #94a3b8;
  margin: 0px;
}
.top-districts-container {
  display: flex;
  flex-wrap: wrap;
}
.top-district-heading {
  text-align: right;
}
.sub-page-container {
  display: flex;
  flex-direction: column;
}
.graphs-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-districts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 45px;
}
.districts-list-item {
  display: flex;
  align-items: center;
  width: 46%;
  color: #94a3b8;
  padding: 0;
}
.district-count {
  color: #94a3b8;
  font-weight: 500;
  margin-right: 8px;
  font-size: 14px;
  width: 35%;
}
.district-name {
  width: 65%;
  color: #94a3b8;
  font-size: 12px;
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  .district-name {
    padding-left: 20px;
  }
}
.district-heading {
  width: 100%;
  color: #ff073a;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .district-name {
    font-size: 16px;
  }
  .district-count {
    font-size: 24px;
  }
  .district-heading {
    font-size: 32px;
  }
}
.spread-trend-container {
  width: 100%;
  color: #cbd5e1;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.spread-heading {
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 7px;
}
.spread-button {
  width: 30%;
  padding: 10px;
  margin: 3px;
  background-color: #1c1c2b;
  border: none;
  outline: none;
  font-size: 16px;
  color: #64748b;
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .top-districts-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .districts-list-item {
    display: flex;
    width: 200px;
    margin: 1px 9px;
    color: #94a3b8;
    padding: 0;
  }
}
.state-page-container {
  background-color: #161625;
  min-height: 90vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .state-page-container {
    padding: 0 60px;
  }
}
@media screen and (min-width: 1000px) {
  .state-page-container {
    padding: 0 160px;
  }
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
.tested-button:hover {
  background-color: #132240;
}
.recovered-button:hover {
  background-color: #182829;
}
.deceased-button:hover {
  background-color: #212230;
}
.confirmed-button:hover {
  background-color: #331427;
}
.spinner-container {
  display: flex;

  justify-content: center;

  align-items: center;
  height: 50vh;
}
.confirmed-background {
  background-color: #331427;
}
.active-background {
  background-color: #132240;
}
.recovered-background {
  background-color: #182829;
}
.deceased-background {
  background-color: #212230;
}
.state-name-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.state-name-update-details-card {
  padding: 5px;
  height: 100px;
}
.state-name-heading {
  margin: 0;
  padding: 6px 32px;
  background-color: rgba(2, 132, 199, 0.16);
  color: #0ea5e9;
  display: inline-block;
  font-size: 16px;
  border-radius: 32px;
  font-weight: 600;
}
.state-name-update-details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.last-date-text {
  font-size: 12px;
  color: #cbd5e1;
}
.card-title {
  font-size: 12px;
  font-weight: 500;
}
.card-count {
  font-size: 16px;
  font-weight: 500;
}
.tested-text {
  font-size: 12px;
  margin: 0;
}
.tested-count {
  color: #94a3b8;
  text-align: right;
  width: 100%;
}
.tested-text {
  color: #94a3b8;
  text-align: right;
  width: 100%;
}
.tested-count {
  font-size: 14px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .state-name-update-details-card {
    margin-top: 60px;
  }
  .state-name-heading {
    font-size: 32px;
    font-weight: 600;
  }
  .last-date-text {
    font-size: 16px;
    color: #cbd5e1;
  }
  .tested-count {
    font-size: 24px;
  }
  .card-title,
  .tested-text {
    font-size: 16px;
  }
  .card-count {
    font-size: 24px;
  }
}
.cardContainer {
  margin-top: 30px;
}
.top-districts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 45px;
}
.districts-list-item {
  display: flex;
  align-items: center;
  width: 46%;
  color: #94a3b8;
  padding: 0;
}
.district-count {
  color: #94a3b8;
  font-weight: 500;
  margin-right: 8px;
  font-size: 14px;
  width: 35%;
}
.district-name {
  width: 65%;
  color: #94a3b8;
  font-size: 12px;
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  .district-name {
    padding-left: 20px;
  }
}
.district-heading {
  width: 100%;
  color: #ff073a;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .district-name {
    font-size: 16px;
  }
  .district-count {
    font-size: 24px;
  }
  .district-heading {
    font-size: 32px;
  }
}
.spread-trend-container {
  width: 100%;
  color: #cbd5e1;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.spread-heading {
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 7px;
}
.spread-button {
  width: 30%;
  padding: 10px;
  margin: 3px;
  background-color: #1c1c2b;
  border: none;
  outline: none;
  font-size: 16px;
  color: #64748b;
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .top-districts-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  .districts-list-item {
    display: flex;
    width: 200px;
    margin: 1px 9px;
    color: #94a3b8;
    padding: 0;
  }
}
.state-name-update-details-card {
  align-items: flex-start;
}
.card-container {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-bottom: 65px;
}

.card,
.card-container {
  display: flex;
  justify-content: center;
}
.card {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.list-container {
  padding: 0;
  width: 750px;
}
.state-list-item {
  width: 750px;
  display: flex;
  justify-content: space-around;
  text-align: right;
  padding: 0 15px;
  border-radius: 8px;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.list-item-count {
  width: 100%;
  text-align: right;
  font-weight: 500;
  font-size: 14px;
}
.state-list-item:hover {
  background-color: #2f2f43;
}
.state-name {
  text-align: left;
  color: #f1f5f9;
}
.list-titles {
  border-bottom: 1px solid #475569;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .state-list-item {
    padding: 0 32px;
  }
  .list-titles {
    width: 100%;
  }
}
.confirmed {
  color: #ff073a;
}
.tested {
  color: #007bff;
}
.recovered {
  color: #28a745;
}
.deceased {
  color: #6c757d;
}
.population {
  color: #94a3b8;
}
.link-item {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .home-page-container {
    padding: 64px 150px;
  }
  .search-bar-container,
  .suggestion-list-container {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .list-container,
  .state-list-item {
    width: 100%;
  }
  .state-wise-list-container {
    overflow: auto;
  }
  .list-titles {
    width: 100%;
  }
}
