.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #161625;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  width: 15%;
  padding-bottom: 80px;
  padding-top: 20px;
}
.footer-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Light / blue-gray / 400 */

  color: #94a3b8;
}
.covid19-footer-heading {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;

  /* Light / blue-gray / 50 */

  color: #f8fafc;
}
.india {
  color: #007bff;
}
